body {
  width: 640px;
  margin: 30px auto;
  background: url(bg.png);
  font: normal 22px Doppio One;
}
a {
  color: #088BBF;
  text-decoration: none;
  font-size: 14px;
}
a:hover { text-decoration: underline }
img { display: block; }
h1, h3 { display: inline-block; }
h1 {
  font-size: 42px;
  font-weight: normal;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0 white;
  color: #222;
}
h3 {
  color: #444;
  font-size: 22px;
  font-weight: normal;
}
.title { position: relative; }
.container { margin-bottom: 30px; }
article {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}
#down {
  position: relative;
  left: 20px;
  top: -6px;
}

button::-moz-focus-inner { border: 0; }
button.toggle {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
  margin: 10px 0;
	background: -o-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}
button.toggle:active {
  background: #222;
  top: 6px;
}
